@media (max-width:1199.99px) {}

@media (max-width:991.99px) {
    .nav__search-input {
        border: none;
        left: 0;
        position: absolute;
        width: 0;
        padding: 20px;
        opacity: 0;
        transition: .5s;
    }

    .fashion__content {
        flex-wrap: wrap;
    }
    
    
}

@media (max-width:767.99px) {
    .nav__search:hover .nav__search-input {
        width: 100%;
        opacity: 1;
    }
    .nav {
        position: relative;
    }
    .list__menu:hover .nav__list{
        opacity: 1;
        transition: .4s;
        right: 0;
    }
    
    .list__menu {
        position: relative;
        right: 0;
        width: 28px;
        height: 28px;
        background: black;
        transition: .4s; 
        
        border-radius: 5px;
    }
    
    .list__menu::before {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0;
        transform: translate(0 -50%);
        background: #FFFFFF;
    }
    
    .list__menu-button {
        position: absolute;
        top: 75%;
        left: 0;
        background: #FFFFFF; 
        transform: translate(0 -50%);
        height: 2px;
        width: 100%;
        
    }
    
    .list__menu::after{
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0 -50%);
        background: #FFFFFF;
    }
    
    .nav__list {
        position: absolute;
        flex-direction: column;
        top: 110%;
        right: 0;
        background: #fff;
        opacity: 0;
        padding: 20px;
        
    }

    .dropdown__list {
        left: -130px;
        top: -11px;
        width: 110px;
    }

    .nav__list-link span {
        order: 1;
    }

    .nav__list-link img {
        margin-right: 4px;
        margin-left: 0;
    }

    .dropdown__menu:hover .nav__list-link>img {
        transform: rotate(90deg);
    }
}

@media (max-width:575.99px) {
    .custom__content-cards {
        justify-content: center;
        align-items: center;

    }
    .fashion__content {
        row-gap: 20px;
        justify-content: center;
    }
    .content-card__img img {
        width: 100%;
    }
    .custom__content-title {
        font-size: 30px;
    }
    .fashion__title {
        font-size: 30px;
    }
    .nav__content {
     flex-wrap: wrap;   
    }

    .nav__search-btn {
        margin: 0;
    }
    .fashion__content-card img {
        width: 100%;
    }
    .footer__content-col-form input {
 
        max-width: 150px;
    }
    
     .header__content-title {
        font-size: 20px;
     }    
    .footer__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .custom__content-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}